<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
   <!-- 회원가입 -->
   <insert id="memberInsert" parameterType="memberDTO">
   		INSERT INTO MEMBER (MEMBERNO, LOGINID, LOGINPW ,NAME ,EMAIL ,REGDATE, LASTLOGIN)
			VALUES(MEMBERNO.NEXTVAL, #{loginId}, #{loginPw}, #{name}, #{email}, SYSDATE, SYSDATE)
   </insert>
   
   <!-- 로그인 인증 -->
   <select id="checkLogin" parameterType="loginDTO" resultType="String">
	  	 SELECT LOGINID 
	  	 	FROM MEMBER 
	  	 WHERE LOGINID=#{loginId} AND LOGINPW=#{loginPw}
   </select>
   
   <!-- 회원 정보  -->
   <select id="getMemberById" parameterType="String" resultType="memberDTO">
  		 SELECT *
  		 	FROM MEMBER 
  		 WHERE LOGINID=#{loginId}
   </select>
   
   <!-- 아이디 중복 검사  -->
   <select id="idDupCheck" parameterType="String" resultType="int">
  		 SELECT COUNT(LOGINID)
  		 	FROM MEMBER 
  		 WHERE LOGINID=#{loginId}
   </select>
   
   <!-- 회원정보 수정 -->
   <update id="memberUpdate" parameterType="memberDTO">
   		UPDATE MEMBER 
   			SET LOGINPW=#{loginPw}, NAME=#{name}, EMAIL=#{email} 
   		WHERE LOGINID=#{loginId}
   </update>
   
   <!-- 로그인날짜 수정 -->
   <update id="updateLastLogin" parameterType="string">
   		UPDATE MEMBER
   			SET LASTLOGIN=SYSDATE 
   		WHERE LOGINID=#{loginId}
   </update>
   
   <!-- 회원정보 삭제 -->
   <delete id="deleteById" parameterType="String">
   		DELETE FROM MEMBER 
   			WHERE LOGINID=#{loginId}
   </delete>
</mapper>