<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias alias="memberDTO" type="com.kyumin.calendar.domain.MemberDTO"/>
		<typeAlias alias="loginDTO" type="com.kyumin.calendar.domain.LoginDTO"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/memberMapper.xml"/>
	</mappers>
</configuration>